# Bot Details
applicationId = ''
clientSecret = ''
token = ''
defaultPrefix = ' '
owner = ''
version = ''

# Database
dbName = ''
dbServer = ''

# Google Api
GOOGLE_API_KEY = ''
Google_ClientId= ''
Google_ClientSecret = ''

# Image Apis
Danbooru_Api_Key = ''

# Game Apis
GGDEALS_API_KEY = ''
RAWG_API_KEY = ''
STEAM_API_KEY = ''
ITCH_IO_API_KEY = ''

# Twitch
twitchClientId = ''
twitchClientSecret = ''

# Express
port = ''