# Bot Details
applicationId=
clientSecret=
token=
defaultPrefix=
owner=
version=

# Database
# For MongoDB Atlas (recommended):
# MONGO_DATABASE_URL = 'mongodb+srv://username:password@cluster.mongodb.net/database-name'

# For local development (without Docker):
# MONGO_DATABASE_URL = 'mongodb://localhost:27017/database-name'

# For Docker's local MongoDB:
# MONGO_DATABASE_URL = 'mongodb://username:password@mongodb:27017/database-name?authSource=admin'

MONGO_DATABASE_URL=

# MongoDB Configuration (only needed if using local Docker MongoDB)
MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
MONGO_PORT=27017
MONGO_DATABASE=

# Google Api
GOOGLE_API_KEY=
Google_ClientId=
Google_ClientSecret=

# Image Apis
Danbooru_Api_Key=

# Game Apis
GGDEALS_API_KEY=
RAWG_API_KEY=
STEAM_API_KEY=
ITCH_IO_API_KEY=

# Twitch
twitchClientId=
twitchClientSecret=

# Express
port=