.vscode
.env
dist
node_modules
src/keys
templates
.github
.results
src/commands/Owner/test.ts
src/storage
feature-*.md

# Biome editor settings
.biome-*

# Docker
logs/
docker compose.override.yml
DOCKER*.md

# MongoDB backups
mongodb-backup-*